.new-menu-item {
    width: 92% !important;
}

.new-menu-item-margin {
    margin: 2% 2vw !important;
}

.panel p {
    text-transform: capitalize;
}

input[type="text"].menu-item  {
    background: transparent;
    border: none;
    font-weight: 600;
    margin-left: 1vw;
}

input::placeholder,
input::-webkit-input-placeholder{
    color: #855e2d;
}
