
.menu-item {
    margin: 0;
    padding: 2% 6% 2% 4%;
}

.menu-item  p {
    text-transform: capitalize;
}
.menu-item input[type="number"] {
    background: #D8C791;
    border: none;
    text-align: center;
    font-weight: 900;
    -moz-appearance: textfield;
}

.menu-item.exisiting-menu-item-offset input[type="number"] {
    -webkit-box-shadow: inset 0px 0px 2px 2px rgb(178, 164, 119, .05);
    box-shadow: inset 0px 0px 2px 2px rgb(178, 164, 119, .05)
}

.exisiting-menu-item-offset {
    background: #d3cda5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
