.nookdiy-header img {
    position: relative;
    left: 2%;
    top: 1.2vh;
    width: 14%;
}
.nookdiy-header ul {
    list-style-type: none;
    float: right;
    display: table-row;
    align-items: center;
    position: relative;
    margin: 5.2vh 2vw 0;
}
.nookdiy-header ul li {
    display: table-cell;
    padding: 0 2vw;
}

.nookdiy-header * a {
    color: #855E2D;
    font-weight: 800;
}